<div class="login-container">
	<form class="login-form" (submit)="onSubmit()">
	  <h2>Login</h2>
	  <div class="form-group">
		<label for="username">Username</label>
		<input
		  type="text"
		  id="username"
		  [(ngModel)]="username"
		  name="username"
		  required
		/>
	  </div>
  
	  <div class="form-group">
		<label for="password">Password</label>
		<input
		  type="password"
		  id="password"
		  [(ngModel)]="password"
		  name="password"
		  required
		/>
	  </div>
  
	  <button type="submit" class="login-btn">Login</button>
  
	  <div class="extra-links">
		<p>
		  <!-- New user? <a routerLink="/register">Register here</a> -->
		  <span   (click)="RegisterUser()">Register here</span>

		</p>
		<p>
		  <!-- <a routerLink="/seller">Become a Seller</a> -->
		  <span   (click)="RegisterSeller()">Become a Seller</span>
		</p>
	  </div>
	</form>
  </div>
  