<div class="container">
    <h2>Shop Registration</h2>
    <form>
        <input type="text" placeholder="Shop Name" required>
        
        <textarea placeholder="Shop Description(Mention any licence)" required></textarea>
        
        <input type="time" placeholder="Opening Time" required>
        
        <input type="time" placeholder="Closing Time" required>
        
        <textarea placeholder="Shop Address" required></textarea>
        
        <input type="email" placeholder="Email Address" required>
        
        <input type="tel" placeholder="Phone Number" required>
        
        <input type="password" placeholder="Password" required>
        
        <input type="password" placeholder="Confirm Password" required>
        
        <button type="submit"(click)="goToLogin()">Register Shop</button>
    </form>
</div>